<div id="<%= dom_id bio_credential %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= bio_credential.bio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">License number:</strong>
    <%= bio_credential.license_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">License description:</strong>
    <%= bio_credential.license_description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">License effective date:</strong>
    <%= bio_credential.license_effective_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">License expire date:</strong>
    <%= bio_credential.license_expire_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= bio_credential.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this bio credential", bio_credential, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this bio credential", edit_bio_credential_path(bio_credential), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
