<%= form_with(model: bio_credential, class: "contents") do |form| %>
  <% if bio_credential.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(bio_credential.errors.count, "error") %> prohibited this bio_credential from being saved:</h2>

      <ul>
        <% bio_credential.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :bio %>
    <%= form.text_area :bio, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :license_number %>
    <%= form.text_field :license_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :license_description %>
    <%= form.text_area :license_description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :license_effective_date %>
    <%= form.date_field :license_effective_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :license_expire_date %>
    <%= form.date_field :license_expire_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <% if current_user.is_admin? %>
    <%= form.label :user_id, 'User', style: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
    <%= form.collection_select :user_id, User.all, :id, :full_name, { prompt: 'Select User' } %>
    <% else %>
      <%= form.hidden_field :user_id, value: current_user.id %>
    <% end %>
  
  </div>

  <!-- div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div -->

  <div>
    <%= form.submit %>
  </div>
<% end %>
