<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Bio credentials</h1>
    <%= link_to "New bio credential", new_bio_credential_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="bio_credentials" class="min-w-full">
    <%= form_tag bio_credentials_path, method: :get, class: "mb-3" do %>
      <%= label_tag "role", "Select Role:" %>
 
        <%= select_tag "role", options_for_select(["admin", "instructor", "student", "maintenance", "frontoffice", "guest"], params[:role]), prompt: "Select Role" %>
 
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    <% end %>

    <% @bio_credentials.group_by(&:user_id).each do |user_id, credentials| %>
      <div class="mb-5">
        <h2 class="text-lg font-semibold mb-2">User: <%= User.find(user_id).full_name %></h2>
         <%= render partial: 'bio_credentials/bio_credential', collection: credentials, locals: { show_user_id: false } %>
      </div>
    <% end %>

  </div>
</div>

<%= link_to 'Back', 'javascript:history.back()', class: 'btn btn-default' %>