<header class="w-full bg-home  h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center">

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
  <%= image_tag "red-arrow-logo.webp", alt: "RED ARROW LOGO", class: " mx-auto h-15 w-40 lg:w-48 top-0"%>
    <h2 class="mt-10 text-center text-5xl font-bold leading-9 tracking-tight text-white">Sign Up</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm ">





<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-white">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field text-white">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field text-white">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions text-white">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>
</div>
</header>

