<div id="<%= dom_id aircraft %>">
  <p>
    <strong>Name:</strong>
    <%= aircraft.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= aircraft.model %>
  </p>

  <p>
    <strong>Tail number:</strong>
    <%= aircraft.tail_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= aircraft.status %>
  </p>
  
</div>
