<h1 class="text-4xl font-bold text-center">
   RED ARROW ADMIN PANEL
</h1>

<br/>
<div class="text-center">
<% if current_user&.is_admin? %>

    <h2 class="text-2xl font-bold text-center">Unapproved Users</h2>

    <% if @unapproved_users.any? 
      x = 0 
    %>
      <ul>
        <% @unapproved_users.each do |user|  %>
          <li>
            <%= x = x + 1 %>: 
            <%= user.full_name %> (<%= user.email %>) &nbsp; 
            <%= link_to "Review and Approve", edit_admin_user_path(user) %>
          </li>
        <% end %>
      </ul>

      <hr/>
    <% else %>
      <p>No unapproved users found.</p>
      <hr/>
    <% end %>

  <br/>
  <%= link_to 'Admin User List', admin_users_path, class: 'btn btn-primary' %>
  <br/>
  <%= link_to 'Bio Credential List', bio_credentials_path, class: 'btn btn-primary' %>
<% end %>
</div>