<% if user_signed_in? %>
<div class="w-full">
  
  <%if !current_user&.is_approved?%> 
    <div class="flex justify-between items-center">
    <p class="center">
      Your member signup request has been sent and is awaiting approval. <br/> 
      The site administrator will notify you via email (<%= current_user.email %>) once your request has been approved. <br/>
      For the meantime if you have not completed your profile, click  
        <%= link_to 'HERE', edit_user_path(@user), class: 'italic' %> to update.
    </p>
    </div>
  <%end %>

  <div class="flex justify-between items-center">
     <% if current_user&.is_approved?%>
        <h1 class="font-bold text-3xl">Red Arrow Documents</h1>
     <% end %>
    <% if current_user&.is_admin? || current_user&.is_frontoffice? %>
        <%= link_to "New Document", new_document_path, class: "rounded-lg py-3 px-10 mt-5 bg-main-red text-white block font-medium" %>
    <% end %>
  
  </div>

  <div class="w-2/5">
  
    <% @documents.each do |doc| %>
        <% if current_user&.is_admin? %>           
            <%= link_to doc.name, doc.location, class: 'rounded-lg py-3 px-10 bg-main-red mt-5  text-white inline-block font-medium', title: doc.description %>
            <% if action_name != "show" %> 
              <%= link_to "Attributes", doc, class: "text-sm font-italic text-black" %>
              <%= link_to "Edit", edit_document_path(doc), class: "text-sm font-italic text-black" %>
            <% end %>  
        <% else %> 
           <% if current_user&.is_approved? && !doc.hide?  %>          
            <%= link_to doc.name, doc.location, class: 'rounded-lg py-3 px-10 bg-main-red mt-5 mt-5 text-white inline-block font-medium', title: doc.description %>
           <% end %>
      <% end %>  <!-- end admin els  -->
     <% end %>  <!-- end doc each -->
  
  </div>
</div>
<% end %>
