<!-- app/views/admin/users/index.html.erb -->
<h1>User Management</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Approved</th>
      <th>Student</th>
      <!-- th>Instructor</th>
      <th>Maintenance</th>
      <th>Guest</th>
      <th>Front Desk</th>
      <th>Dispatcher</th -->
      <th>Admin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %> <%= user.middle_initial %> <%= user.last_name %></td>
        <td><%= user.is_approved ? 'Yes' : 'No' %></td>
        <td><%= user.is_student ? 'Yes' : 'No' %></td>
        <!-- td><%= user.is_instructor ? 'Yes' : 'No' %></td>
        <td><%= user.is_maintenance ? 'Yes' : 'No' %></td>
        <td><%= user.is_guest ? 'Yes' : 'No' %></td>     
        <td><%= user.is_frontoffice ? 'Yes' : 'No' %></td>   
        <td><%= user.is_dispatcher ? 'Yes' : 'No' %></td -->   
        <td><%= user.is_admin ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
          &nbsp; <%= link_to 'Profile', show_user_profile_admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= link_to 'Back', 'javascript:history.back()', class: 'btn btn-default' %>