
<!-- layouts/iframe_cal.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Iframe Layout</title>
    <!-- Add any specific styles or scripts needed for your iframe here -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>